/* common shared style */
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}


.text-primary {
    color: rgba(238, 77, 14, 0.933);
}

.btn-primary {
    border-radius: 5px;
    background: #fd6e0a;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700 px;
    padding: 18px 35px;

}

.btn {
    margin-top: 30px;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700px;
}

.section-descriptioin {
    color: #757575;
    text-align: center;
    font-size: 18px;

}

/* nev related style */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

/* header related style */
.header {
    background-color: #e49a78;
    /* background-image:url('../images/photo/download.jpg') ; */
    background-size: 600px;
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.banner .profile-pic {
    width: 500px;


}

.banner-content {
    max-width: 500px;
}

.banner-greeting {
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}

.banner-title {
    font-size: 85px;
    font-weight: 700px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-description {
    max-width: 600px;
}

/* Main section style */
main {
    max-width: 1240px;
    margin: 0 auto;
}
main section{
    margin: 130px;
}
/* about section style */
.about {
    padding: 130px;
    border-radius: 10px;
    background: #eeccbc;
    margin: 130px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;


}

.about-info {
    text-align: center;
}

#what-id {
    padding: 30px 150px;
}

.icon {
    width: 50px;
}

.skills-container {
    display: flex;
    gap: 24px;
}

.skill {
    padding: 30px;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.933);

}

.skill-description {
    color: #757575;
}
/* resume-style */
.resume-column-title{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}
.resume-container{
    display: flex;
    gap: 50px;

}
.resume-container hr{
    margin: 30px;
}
.resume-item-titel{
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}
.resume-item-info{
    margin-bottom: 20px;
    margin-top: 0;
}
.resume-item-info, .resume-item-description{
    color: #757575;
}
.dwonload-cv{
    text-align: center;
    margin-top: 50px;
}